body{
  margin: 0px;
  padding: 0px;
  background-color: rgba(172, 196, 237, 0.606);
  font-size: 20px;
  text-align: justify;
 
 
}

/* esto es del header */

header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  
}

.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  
  .brand {
    display: flex;
    align-items: center;
    font-size: 25px;
  }
  
  
  li>a {
    padding: 8px 24px;
  }
  
  
  li {
    list-style-type: none;
  }
  
  
  .navbar a {
    color: rgb(255, 255, 255);
    text-decoration:none;
  }
  
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  
  .button-menu-toggle {
    display: none;
  }


/* Cambios para dispositivos móviles */

@media (max-width: 768px) {
    .column {
      flex: 100%;
    }
    body{
      background-color: aqua;
      margin-top: 80px;
    }
    img{
      
      max-height: 300px;
    }

 







  
  /* Define una nueva regla para el contenedor principal */
  #contenedor {
    flex-direction: column; /* Cambia la dirección del flex container a columna */
    align-items: center; /* Centra los elementos horizontalmente */
    margin: 15px;
  }

  /* Establece el ancho de los elementos dentro del contenedor */
  #contenedor > div{
    width: 100%;
   
  }


    
    .nav-links {
      display: none;
    }
  
  
    .button-menu-toggle {
      display: block;
      background-color: white;
      border:none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
   
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20,20,20,0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px;
  
  
    }
  }
 /* hasta aca vienen las etiquetas del header */

 main {
  margin-top: 70px;

 
 }

 #contenedor{
  display: flex;
  text-align: center;
  align-items: normal;
 
 }

 .titulo{
  text-align: center;
  margin-top: 80px;
 }


 p{
  text-align: center;
  padding: 10px;
  
 }
 .img-perfil{
 
  max-width: 65%; /* Asegura que la imagen no sea más ancha que el contenedor */
  overflow: auto;
  border-radius: 10%;
 

 }
 #habilidades li{
  list-style-type: none;
  margin: 15px 0;
  color: rgb(86, 83, 83);
}
 #contenedor > *{
  border: 1px solid #000;
  border-radius: 15px;
  margin: 5px;
  padding-top: 40px;
 }
.sidebar{
  width: 100%;
  
 
  
}
#contenido{
  width: auto;
  padding-top: 10px;
  
  
 
}
.div-contenido-1{
  margin-bottom: -90px;
}


.habilidades-div {
  padding: 30px;
  display: flex;
  justify-content: space-around;
}



.sidebar2{
  width:100%;
 
  margin: 10px;
  word-wrap: break-word;
}

aside{
  /* 
      Posicionamos el aside a la derecha (fijo)
  */
  position: fixed;
  top: 700px;
  right: 5px;
}

aside ul{
  list-style: none;    
}
aside ul li a{
  /* 
      Cambiamos el color de los iconos
  */
  color: rgb(38, 53, 38);    
}

aside ul li a i{
  /* 
      Agrandamos los iconos
  */
  font-size: 2rem;
  padding: 8px ;
}




.bloque a{

  text-decoration: none;
  
 
 
  background-color: #b8bec4;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px;


}

.bloque a:hover{
  color: #b8bec4;
  

}



  /* contacto !!!!!!   */

.h1-contacto{
  text-align: center;
}
.div-contacto{
 
  padding: 25%;
}


/* --------------------------- */



.title-context {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16667;
  margin: 4rem 0 0 1.5rem;
  font-family: "San Francisco";
}

.title-context span {
  color: #6e6e73;
}

.container {
  display: flex;
  overflow-x: auto; /* Creamos un div scrollable de forma horizontal */
  scrollbar-width: none; /* Escondemos la scrollbar en Firefox */
  
  margin-bottom: 10px; 
}

.grid::-webkit-scrollbar {
  display: none; /* Escondemos la scrollbar en Chrome, Safari y Edge */
}

.card {
  position: relative; /* Esta posición para poder posicionar el texto de la clase "body" */
  flex: 0 0 309px; /* flex grow 0 para que todas ocupen el mismo espacio, flex-shrink 0 para que no se encojan y flex-basis 309px de ancho. */
  height: 300px;
  overflow: hidden; /* Para poder ver el borde redondeado */
  margin-left: 1.5rem;
  border-radius: 18px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
}

.image {
  width: 100%;
}







.white-text {
  color: rgb(0, 0, 0);
  font-size: 21px;
  font-size: 1rem;
  
}
.white-text h1{
  font-size: 1.5rem;
}

.elemento-hijo {
  position: absolute;
  bottom: 0;
  width: 100%; /* O el ancho que desees */
  background-color: #e0e0e0; /* Color de fondo opcional */
}

.proyectos{
  margin: 0;
  padding: 0;
}
